.idea/
app/
example/
src/
scripts/
tests/

.changelock
.eslintrc.js
.eslintignore
.gitignore
.npmrc_config
bitbucket-pipelines.yml
jest.config.js
tsconfig.*
yarn.lock
nest-cli.json
nest-cli-esm.json
nest-cli.app.json

*.tgz
